<h1 style="text-align: center;">HELLO EMBER 2!</h1>

{{!-- The following component displays Ember's default welcome message. --}}
{{!--{{welcome-page}}--}}
{{!-- Feel free to remove this! --}}

{{#if showName }}
    <h2>Hello {{ name }}</h2>
{{ else }}
    <h2>Hello World!</h2>
{{/if }}

<button {{ action 'toggleName' }}>Toggle Name</button>

<hr>

{{ numClicks }} increments <button {{ action 'incrementClick' }}>Increment</button>

<hr>
<h1>Routers</h1>

{{ link-to "Home" "application" }}
{{ link-to "Home v2" "index" }}
{{ link-to "About" "about" }}
{{#link-to "about" }}
    About v2
{{/link-to }} 
{{ link-to "Parent" "parent" }}
{{ link-to "Todos" "todos" }}

{{ outlet }}

<hr>
<h1>Components</h1>
{{ x-xounter }}
{{ x-xounter number = 30 }}
{{#x-xounter }}
    Some text
    {{ x-xounter }}
{{/x-xounter }}

{{ x-alert handleClick = ( action 'doAlert' ) message = 'Yo yo yo' }}
{{ x-alert handleClick = ( action 'doAlert' ) message = 'ikinci buton' }}
{{ x-alert handleClick = ( action 'doAlert' ) }}
